@model IEnumerable<DataLayer.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style
{
    <!-- Datatables css -->
    <link href="~/Content/assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
}

@section Script
{
    <script src="~/Content/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/Content/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/assets/js/pages/demo.datatable-init.js"></script>
}

<div class="card mt-2">
    <div class="card-body">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="basic-datatable" class="table dt-responsive nowrap w-100">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegisterDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FailedLogin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles.RoleName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActiveCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisterDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FailedLogin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roles.RoleTitle)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>